* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*===Reuseable Colors===*/

:root {
  --topHeader: #a0a39e;
  --header: #0b0b0b;
  --prodTitle: #504d4c;
}

h1 {
  color: var(--header);
}

p {
  color: var(--prodTitle);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

i {
  color: #1e1e1e;
  font-size: 1.2em;
}

/*Page*/

.container {
  width: 100%;
  height: 100vh;
}

/*====Top Header====*/

.top-header {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper {
  width: 80%;
}

.flexitem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 18px;
}

header a {
  color: var(--topHeader);
  font-weight: 300;
}

/*Navbar*/

.navbar {
  /* background-color: red; */
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.navbar a {
  font-size: 1.2rem;
  color: var(--prodTitle);
  font-weight: 600;
}

.cart-title {
  font-size: 0.8em;
  font-weight: 100;
}
