* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
  /* background-color: #dadada; */
}

/*===Reuseable Colors===*/

:root {
  --topHeader: #5d5d5d;
  --header: #0b0b0b;
  --prodTitle: #504d4c;
  --heroColor: #222f5b;
  --buttonColor: #e74c3c;
}

h1 {
  color: var(--header);
}

p {
  color: var(--prodTitle);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

i {
  color: #1e1e1e;
  font-size: 1.2em;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  /*1rem = 10px */
}

/*Page*/

.container {
  width: 100%;
  height: auto;
}

/*====Top Header====*/

.top-header {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper {
  width: 65%;
}

.flexitem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 18px;
}

header a {
  color: var(--topHeader);
  font-weight: 300;
}

/*Navbar*/

.navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* background-color: #dadada; */
}

.navbar a {
  font-size: 1.2rem;
  color: var(--prodTitle);
  font-weight: 600;
}

.cart-title {
  font-size: 0.8em;
  font-weight: 100;
}

.left {
  margin-right: auto;
}

.main-icons i {
  padding: 0 5px;
}

/*main section*/

.hero-container {
  width: 100%;
  height: 10vh;
  background: var(--heroColor);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-item {
  width: 65%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.search-section {
  width: 40%;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
}

.fa-search {
  padding: 0 10px;
}

.search-section input,
button {
  /* padding: 5px; */
  border: none;
  outline: none;
  font-size: 15px;
}

.search-section p {
  background-color: var(--buttonColor);
  font-size: 1.2em;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 5px;
  text-align: center;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.search-section input {
  margin-right: auto;
}

.search-section i {
  padding-left: 20px;
}

.category {
  width: 25%;
  margin-top: 40px;
  padding: 10px;
  padding-left: 1em;
  background-color: var(--buttonColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.category p {
  color: #fff;
  padding: 1px 0;
  font-size: 13px;
}

.category .all {
  font-size: 1em;
  font-weight: 500;
}

/*Category List*/

.category-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  /* background-color: blue; */
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  width: 25%;
  /* background-color: #fff; */
}

.list-item p {
  margin-right: auto;
  margin-left: 20px;
  font-weight: 600;
  margin-right: auto;
}

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 2em;
  border: 1px solid black;
}

.list-item li {
  border-style: none solid solid solid;
  border-color: #d0d3d4;
}

.header-container {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.image-container {
  width: 72%;
  height: 94%;
  margin-top: 2em;
  overflow: hidden;
  /* background-color: red; */
  background-image: url(https://images.unsplash.com/photo-1491553895911-0055eca6402d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.header-item {
  padding: 20px;
  width: 60%;
  height: 50%;
  margin-top: 10em;
  margin-left: 5em;
}

.shoe-fashion {
  margin-bottom: 20px;
  background-color: #0b0b0b;
  color: #fff;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 5px;
}

.header-item h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
  color: #566573;
}

.header-item h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 900;
  color: #2c3e50;
}

.header-item span {
  color: #f1c40f;
}

.buy {
  border-radius: 20px;
  color: #fff;
  font-size: 1.2em;
  margin-top: 10px;
  padding: 10px 25px;
  background-color: var(--buttonColor);
}

/* Brands */

.brands-container {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-item {
  width: 65%;
  height: 20vh;
  /* background-color: blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  margin: 2em 0;
}

.brands-item .box {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-item img {
  width: 80%;
}

/* Trending Section */

.trending {
  /* background-color: red; */
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.trending-main {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.trending-container {
  /* background-color: blue; */
  width: 65%;
  height: 100%;
}

.trending-heading h3 {
  margin-bottom: 8px;
}

.trending-sale {
  margin-top: 2em;
  width: 27%;
  height: 80%;
  border: 2px solid black;
  border-radius: 7px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trending-items-1 {
  width: 80%;
  height: 65%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trending-items-1 .timeout {
  margin-bottom: 20px;
}

.trending-items-1 .offer {
  margin-bottom: 10px;
}

.trending-items-1 p {
  text-transform: uppercase;
  font-weight: 600;
}

.trending-items-1 span {
  background-color: #eaecee;
  margin: 0 5px;
  padding: 2px 6px;
  border-radius: 2px;
}
.trending-items-1 p {
  font-size: 1em;
}

.trending-heading h2 {
  margin-bottom: 10px;
}

.trending-items-2 {
  margin-top: 10px;
  /* background-color: cyan; */
  width: 80%;
  height: 20%;
}

.trending-sale .sale-img {
  background-image: url(https://images.pexels.com/photos/884979/pexels-photo-884979.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}

.star,
.price {
  display: flex;
  margin-right: auto;
}

.range {
  display: flex;
  justify-content: space-between;
}

h5 {
  margin: 10px 0;
  font-weight: 600;
}

.price {
  margin: 10px 0;
}

p {
  padding: 0 5px;
}

.trending-items-2 .range-2 {
  margin: 10px 0;
  width: 100%;
  background-color: #e5e8e8;
  height: 0.5vh;
}

.trending-items-2 .range-3 {
  margin: 10px 0;
  width: 30%;
  background-color: #a569bd;
  height: 0.5vh;
}

.star-icon {
  font-size: 0.8em;
}

.trending-items-2 .rating {
  font-size: 0.7em;
  color: #808b96;
  font-weight: 500;
}

.trending-items-2 .star {
  display: flex;
  align-items: center;
}

del {
  font-size: 0.6em;
  color: #808b96;
}

.price p {
  color: var(--buttonColor);
  font-size: 1em;
  font-weight: 600;
}

p {
  font-size: 12px;
}

/* Products grid */

.produts-container {
  margin-top: 2em;
  /* background-color: blue; */
  width: 70%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  /* margin-right: auto; */
}

.product-box {
  /* background-color: cyan; */
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.product-image {
  padding: 15px;
  width: 120px;
  height: 150px;
  /* background-color: #fff; */
  overflow: hidden;
  border-radius: 5px;
}

.product-image img {
  width: 100px;
  height: 100%;
  object-fit: contain;
}

.product-items .range {
  display: flex;
  flex-direction: column;
}

.product-image img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-out;
}

/* Featured Products */

.featured {
  /* background-color: red; */
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.featured-grid {
  margin: 20px 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: grid;
  grid-template-rows: repeat(2, 510px);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.featured-container {
  width: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 10px;
}

.featured-container .featured-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.featured-container .featured-image {
  /* background-color: black; */
  width: 100%;
  height: 350px;
  /* padding: 20px; */
}

.featured-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
  /* transform: scale(1); */
}

.featured-container img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-out;
}

/* Banner Section */

.banner-section {
  width: 100%;
  /* background-color: red; */
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.banner-container {
  width: 65%;
  /* background-color: blue; */
  height: 100%;
  display: flex;
  justify-content: center;
}

.banner-top,
.banner-low {
  /* background-color: green; */
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
}

.banner-top {
  /* background-color: green; */
  height: 60%;
}

.banner-image {
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  width: 100%;
}

.banner-image img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  margin-left: auto;
}

.banner-image .box {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.banner-image p {
  font-size: 1.2em;
}

.banner-image .p2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 10px;
}

.banner-image .buy {
  font-size: 0.8em;
  width: 120px;
}

/* Banner low */

.banner-low .banner-image {
  padding: 20px;
  box-shadow: none;
}

.view-all {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
}

.view-all p {
  font-size: 0.8em;
}

.banner-low .para {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner-low {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* mail search section */

.mail-container {
  width: 100%;
  height: 16vh;
  background: var(--heroColor);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.mail-container h3 {
  color: #fff;
}

.search-item p {
  margin-top: 10px;
  color: #fff;
  font-size: 1em;
}

.mail-container span {
  color: var(--buttonColor);
  font-weight: 600;
}

.mail-container i {
  margin-right: 20px;
}

/* Footer Section */

.footer {
  background-color: #eaecee;
  width: 100%;
  height: auto;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.footer-container {
  width: 65%;
  height: auto;
  display: flex;
  align-items: center;
  margin: 3em 0;
}

.footer-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-items p {
  font-size: 0.8em;
  margin: 20px 0;
}

.footer-items p:hover {
  color: #2c3e50;
  cursor: pointer;
}

/* Social Links */

.social-links-section {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.social-container {
  width: 65%;
  height: auto;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.social-items img {
  width: 180px;
  margin-bottom: 1em;
}

.social-items i {
  font-size: 1.2em;
  margin: 0 2px;
  margin-bottom: 15px;
  background-color: #eaecee;
  padding: 10px;
  border-radius: 50%;
}

.social-items p {
  font-size: 12px;
}
