* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
  /* background-color: #dadada; */
}

/*===Reuseable Colors===*/

:root {
  --topHeader: #5d5d5d;
  --header: #0b0b0b;
  --prodTitle: #504d4c;
  --heroColor: #222f5b;
}

h1 {
  color: var(--header);
}

p {
  color: var(--prodTitle);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

i {
  color: #1e1e1e;
  font-size: 1.2em;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  /*1rem = 10px */
}

/*Page*/

.container {
  width: 100%;
  height: 100vh;
}

/*====Top Header====*/

.top-header {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.wrapper {
  width: 65%;
}

.flexitem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 18px;
}

header a {
  color: var(--topHeader);
  font-weight: 300;
}

/*Navbar*/

.navbar {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* background-color: #dadada; */
}

.navbar a {
  font-size: 1.2rem;
  color: var(--prodTitle);
  font-weight: 600;
}

.cart-title {
  font-size: 0.8em;
  font-weight: 100;
}

.left {
  margin-right: auto;
}

.main-icons i {
  padding: 0 5px;
}

/*main section*/

.hero-container {
  width: 100%;
  height: 10vh;
  background: var(--heroColor);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-item {
  width: 65%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.search-section {
  width: 40%;
  /* padding: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
}

.fa-search {
  padding: 0 10px;
}

.search-section input,
button {
  /* padding: 5px; */
  border: none;
  outline: none;
  font-size: 15px;
}

.search-section p {
  background-color: #e74c3c;
  font-size: 1.2em;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 5px;
  text-align: center;
  border-bottom-right-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.search-section input {
  margin-right: auto;
}

.search-section i {
  padding-left: 20px;
}

.category {
  width: 25%;
  margin-top: 40px;
  padding: 10px;
  padding-left: 1em;
  background-color: #e74c3c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.category p {
  color: #fff;
  padding: 1px 0;
  font-size: 13px;
}

.category .all {
  font-size: 1em;
  font-weight: 500;
}

/*Category List*/

.category-list {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.list {
  /* background-color: blue; */
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  width: 25%;
  /* background-color: #fff; */
}

.list-item p {
  margin-right: auto;
  margin-left: 20px;
}

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 2em;
  border: 1px solid black;
}

.list-item li {
  border-style: none solid solid solid;
  border-color: #d0d3d4;
}

.header-container {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.image-container {
  width: 72%;
  height: 94%;
  margin-top: 2em;
  overflow: hidden;
  /* background-color: red; */
  background-image: url(https://images.unsplash.com/photo-1491553895911-0055eca6402d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.header-item {
  padding: 20px;
  width: 60%;
  height: 50%;
  margin-top: 10em;
  margin-left: 5em;
}

.shoe-fashion {
  margin-bottom: 20px;
  background-color: #0b0b0b;
  color: #fff;
  padding: 5px 10px;
  font-size: 1.2em;
  border-radius: 5px;
}

.header-item h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
  color: #566573;
}

.header-item h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 900;
  color: #2c3e50;
}

.header-item span {
  color: #f1c40f;
}

.header-item .buy {
  border-radius: 20px;
  color: #fff;
  font-size: 1.2em;
  margin-top: 10px;
  padding: 10px 25px;
  background-color: #e74c3c;
}
